import React from 'react';
import { Component } from 'react';

class {{capitalize name}} extends Component {

  render() {
    return (
      <div>
         Hello {{capitalize name}} component!
      </div>
    );
  }

}

export default {{capitalize name}};